/321 project - Copy/jsfDemo/build/
/321 project - Copy/jsfDemo/dist/
/321 project - Copy/jsfDemo/nbproject/private/
/combinedProject/jsfDemo/build/
/combinedProject/jsfDemo/dist/
/combinedProject/jsfDemo/nbproject/private/
/combinedProject/421Proj/build/